<template>
    <VModal :isActive="isActive" @clickModal="cancel">
        <transition name="item">
            <div class="form-group col-md-6" v-if="isActive" >
                <form class="form-inline">
                    <label style="font-weight: bold;">Nom: </label>
                    <VInput v-model="newNode.content.text" placeholder="nom"/>
                    <br/>

                    <label style="font-weight: bold;">Changer couleur:</label>
                    <input type="color" v-model="newNode.content.color" placeholder="couleur" class="color-picker"/>
                    <br/>
                </form>
                <br>
                <VButton @click="ok">OK</VButton>
                <VButton class="danger" @click="cancel">Cancel</VButton>
            </div>
        </transition>
    </VModal>
</template>
<script>
export default {
  props: {
    isActive: Boolean,
    node: {
      type: Object,
      default() {
        return {
          id: "",
          width: 150,
          height: 60,
          stroke: "",
          strokeWeight: 0,
          content: {
            text: "none",
            color: "#ecf0f1"
          }
        };
      }
    },
      chevron: {
          type: Object,
          default() {
              return {
                  id: "",
                  width: 100,
                  height: 50,
                  stroke: "",
                  strokeWeight: 0,
                  content: {
                      text: "Valeur",
                      color: "green"
                  }
              };
          }
      }
  },
  watch: {
    node() {
      this.newWidth = parseInt(this.node.width);
      this.newHeight = parseInt(this.node.Height);
    }
  },
  data() {
    return {
      newNode: this.node
    };
  },
  methods: {
      ok() {
          this.$emit("ok", this.newNode);
      },
      ajouterChevron() {
          this.$emit("ok", this.chevron);
      },
    cancel() {
      this.$emit("cancel");
    }
  }
};
</script>
<style lang="scss" scoped>
input {
  width: 95%;
  margin-bottom: 5px;
}
select {
  margin-bottom: 5px;
}
.item-enter-active {
  transition: all 0.8s ease;
}
.item-leave-active {
  transition: all 0.3s ease;
}
.item-enter,
.item-leave-to {
  opacity: 0;
}

.color-picker {
    height: 30px;
}
</style>
