<template>
    <g>
        <line
            :x1="calcSource().x"
            :y1="calcSource().y"
            :x2="calcDestination().x"
            :y2="calcDestination().y"
            :stroke="link.color || '#2e2e2d'"
            stroke-width="1"
            fill="none"
        />

        <g v-if="editable">
            <line
                :x1="calcSource().x"
                :y1="calcSource().y"
                :x2="point.x"
                :y2="point.y"
                stroke="lightgray"
            />
            <line
                :x1="point.x"
                :y1="point.y"
                :x2="calcDestination().x"
                :y2="calcDestination().y"
                stroke="lightgray"
            />
            <ellipse
                :id="id"
                :cx="point.x"
                :cy="point.y"
                rx="10"
                ry="10"
                fill="#ff7675"
                stroke-width="2"
                class="grab"
                @click="select"
                @mousedown="mousedown"
                @touchstart="mousedown"
                @mousemove="mousemove"
                @touchmove="mousemove"
                @mouseup="mouseup"
                @touchend="mouseup"
            />
        </g>
        <g :transform="`translate(${point.x + 25} ${point.y - 10}), scale(0.035)`"
           fill="#ff7675"
           @click="remove"
           v-if="selected"
           class="button">
            <path
                d="M211.265,389.248l-60.331,60.331c-25.012,25.012-65.517,25.012-90.508,0.005c-24.996-24.996-24.996-65.505-0.005-90.496     l120.683-120.683c24.991-24.992,65.5-24.992,90.491,0c8.331,8.331,21.839,8.331,30.17,0c8.331-8.331,8.331-21.839,0-30.17     c-41.654-41.654-109.177-41.654-150.831,0L30.252,328.918c-41.654,41.654-41.654,109.177,0,150.831     c41.649,41.676,109.177,41.676,150.853,0l60.331-60.331c8.331-8.331,8.331-21.839,0-30.17S219.596,380.917,211.265,389.248z"/>
            <path
                d="M479.756,181.08c41.654-41.654,41.654-109.177,0-150.831c-41.653-41.653-109.173-41.653-150.848-0.005l-72.389,72.389     c-8.331,8.331-8.331,21.839,0,30.17s21.839,8.331,30.17,0l72.384-72.384c25.008-24.992,65.521-24.992,90.513,0     c24.991,24.991,24.991,65.5,0,90.491L316.85,283.646c-24.992,24.992-65.5,24.992-90.491,0c-8.331-8.331-21.839-8.331-30.17,0     s-8.331,21.839,0,30.17c41.654,41.654,109.177,41.654,150.831,0L479.756,181.08z"/>
            <path
                d="M398.099,367.926c-8.331-8.331-21.839-8.331-30.17,0c-8.331,8.331-8.331,21.839,0,30.17l63.979,63.979     c8.331,8.331,21.839,8.331,30.17,0c8.331-8.331,8.331-21.839,0-30.17L398.099,367.926z"/>
            <path
                d="M111.946,142.113c8.331,8.331,21.839,8.331,30.17,0s8.331-21.839,0-30.17L78.073,47.9c-8.331-8.331-21.839-8.331-30.17,0     c-8.331,8.331-8.331,21.839,0,30.17L111.946,142.113z"/>
            <path
                d="M489.67,319h-64c-11.782,0-21.333,9.551-21.333,21.333c0,11.782,9.551,21.333,21.333,21.333h64     c11.782,0,21.333-9.551,21.333-21.333C511.003,328.551,501.452,319,489.67,319z"/>
            <path
                d="M169.67,105.667c11.782,0,21.333-9.551,21.333-21.333v-64C191.003,8.551,181.452-1,169.67-1     c-11.782,0-21.333,9.551-21.333,21.333v64C148.336,96.115,157.888,105.667,169.67,105.667z"/>
            <path
                d="M20.336,191h64c11.782,0,21.333-9.551,21.333-21.333c0-11.782-9.551-21.333-21.333-21.333h-64     c-11.782,0-21.333,9.551-21.333,21.333C-0.997,181.449,8.554,191,20.336,191z"/>
            <path
                d="M340.336,404.333c-11.782,0-21.333,9.551-21.333,21.333v64c0,11.782,9.551,21.333,21.333,21.333     c11.782,0,21.333-9.551,21.333-21.333v-64C361.67,413.885,352.118,404.333,340.336,404.333z"/>
        </g>
    </g>
</template>
<script>

import mouseLocation from "../entities/chaine-de-valeur/mouseLocation";

export default {
    mixins: [mouseLocation],
    props: {
        selected: Boolean,
        editable: Boolean,
        source: {
            id: Number,
            x: Number,
            y: Number
        },
        destination: {
            id: Number,
            x: Number,
            y: Number
        },
        link: {
            id: String,
            color: {
                type: String,
                default: "#2e2e2d"
            },
            shape: {
                type: String,
                default: "straight"
            },
            point: {
                x: Number,
                y: Number
            }
        },
        labels: Object,
        scale: String,
        rWidth: Number,
        rHeight: Number
    },
    computed: {},
    data() {
        return {
            startPosition: null,
            cursorOffset: {
                x: 0,
                y: 0
            },
            id: this.link.id,
            point: this.link.point
        };
    },
    methods: {
        mousedown(e) {
            this.$emit("click", this.link.id);
            const [x, y] = this.getLocation(e);
            this.cursorOffset.x = x;
            this.cursorOffset.y = y;
            this.startPosition = {x: this.point.x, y: this.point.y};
            document.addEventListener("mousemove", this.mousemove);
            document.addEventListener("mouseup", this.mouseup);
        },
        mousemove(e) {
            if (this.startPosition) {
                e.preventDefault();
                const [x, y] = this.getLocation(e);
                this.point.x =
                    this.startPosition.x +
                    (x - this.cursorOffset.x) / this.rWidth / parseFloat(this.scale);
                this.point.y =
                    this.startPosition.y +
                    (y - this.cursorOffset.y) / this.rHeight / parseFloat(this.scale);
                this.$emit("updateLocation", {
                    id: this.id,
                    x: this.point.x,
                    y: this.point.y
                });
            }
        },
        definePattern(p) {
            if (p === "solid") {
                return 0;
            }
        },
        mouseup() {
            this.startPosition = null;
            document.removeEventListener("mousemove", this.mousemove);
            document.removeEventListener("mouseup", this.mouseup);
        },
        remove() {
            this.$emit("remove", this.id);
        },
        select() {
            this.$emit("select", this.id);
        },
        edit() {
            this.$emit("editLink", {
                id: this.link.id,
                content: {
                    color: this.link.color || "#2e2e2d",
                    shape: this.link.shape || "straight",
                    pattern: this.link.pattern || "solid",
                }
            });
        },
        calcSource() {
            let dx = this.point.x - this.source.point.x - this.source.width / 2;
            let dy = this.point.y - this.source.point.y - this.source.height / 2;
            if (dx === 0) {
                dx = 0.01;
            }
            if (Math.abs(dy / dx) <= 1) {
                if (dx >= 0) {
                    return {
                        x: this.source.point.x + this.source.width,
                        y: this.source.point.y + this.source.height / 2
                    };
                } else {
                    return {
                        x: this.source.point.x,
                        y: this.source.point.y + this.source.height / 2
                    };
                }
            } else {
                if (dy >= 0) {
                    return {
                        x: this.source.point.x + this.source.width / 2,
                        y: this.source.point.y + this.source.height
                    };
                } else {
                    return {
                        x: this.source.point.x + this.source.width / 2,
                        y: this.source.point.y
                    };
                }
            }
        },
        calcDestination() {
            let dx =
                this.point.x - this.destination.point.x - this.destination.width / 2;
            let dy =
                this.point.y - this.destination.point.y - this.destination.height / 2;
            if (dx === 0) {
                dx = 0.01;
            }
            if (Math.abs(dy / dx) <= 1) {
                if (dx >= 0) {
                    return {
                        x: this.destination.point.x + this.destination.width,
                        y: this.destination.point.y + this.destination.height / 2
                    };
                } else {
                    return {
                        x: this.destination.point.x,
                        y: this.destination.point.y + this.destination.height / 2
                    };
                }
            } else {
                if (dy >= 0) {
                    return {
                        x: this.destination.point.x + this.destination.width / 2,
                        y: this.destination.point.y + this.destination.height
                    };
                } else {
                    return {
                        x: this.destination.point.x + this.destination.width / 2,
                        y: this.destination.point.y
                    };
                }
            }
        }
    }
};
</script>
<style scoped></style>
