<template>
    <g class="nodeParent" @mouseover="reclasserNodesDOM($event)">
        <g v-if="editable">

            <!--    MODIFIER    -->
            <g
                v-if="selected && node.type !== 'train' && node.type !== 'teamwork'"
                :transform="`translate(${x} ${y + node.height + 7}), scale(0.05)`"
                class="button"
                fill="#00b894"
                @click="editCandidate">
                <path
                    d="M484.193,31.977c-18.057-18.057-41.637-27.161-65.39-27.658c-24.997-0.547-50.143,8.506-69.046,27.434L181.37,200.14    c-24.574,24.674-38.105,57.406-38.105,92.177v55.714c0,13.754,11.118,24.872,24.872,24.872h55.714    c34.772,0,67.504-13.531,92.202-38.13l168.163-168.163C521.277,129.527,521.277,69.087,484.193,31.977z M280.91,299.581    c-15.247,15.197-35.543,23.579-57.057,23.579H193.01v-30.842c0-21.515,8.382-41.811,23.554-57.033l111.006-111.006l64.32,64.32    L280.91,299.581z M449.023,131.467L427.06,153.43l-64.32-64.32l21.962-21.962c17.759-17.759,46.611-17.709,64.32,0    C466.732,84.881,466.732,113.733,449.023,131.467z"/>
            </g>

            <g
                v-if="selected && node.type === 'teamwork'"
                :transform="`translate(${x - 8} ${y - node.height / 2 - 8}), scale(0.05)`"
                class="button"
                fill="#00b894"
                @click="editCandidate">
                <path
                    d="M484.193,31.977c-18.057-18.057-41.637-27.161-65.39-27.658c-24.997-0.547-50.143,8.506-69.046,27.434L181.37,200.14    c-24.574,24.674-38.105,57.406-38.105,92.177v55.714c0,13.754,11.118,24.872,24.872,24.872h55.714    c34.772,0,67.504-13.531,92.202-38.13l168.163-168.163C521.277,129.527,521.277,69.087,484.193,31.977z M280.91,299.581    c-15.247,15.197-35.543,23.579-57.057,23.579H193.01v-30.842c0-21.515,8.382-41.811,23.554-57.033l111.006-111.006l64.32,64.32    L280.91,299.581z M449.023,131.467L427.06,153.43l-64.32-64.32l21.962-21.962c17.759-17.759,46.611-17.709,64.32,0    C466.732,84.881,466.732,113.733,449.023,131.467z"/>
            </g>

            <!--    RELIER    -->
            <g v-if="selected && node.type !== 'train' && node.type !== 'teamwork'"
               :transform="`translate(${x + node.width - 30} ${y + node.height + 8}), scale(0.035)`"
               class="button"
               fill="#000"
               stroke="none"
               @click="toggleSelect()">
                <path
                    d="M211.26,389.24l-60.331,60.331c-25.012,25.012-65.517,25.012-90.508,0.005c-24.996-24.996-24.996-65.505-0.005-90.496     l120.683-120.683c24.991-24.992,65.5-24.992,90.491,0c8.331,8.331,21.839,8.331,30.17,0c8.331-8.331,8.331-21.839,0-30.17     c-41.654-41.654-109.177-41.654-150.831,0L30.247,328.909c-41.654,41.654-41.654,109.177,0,150.831     c41.649,41.676,109.177,41.676,150.853,0l60.331-60.331c8.331-8.331,8.331-21.839,0-30.17S219.591,380.909,211.26,389.24z"/>
                <path
                    d="M479.751,30.24c-41.654-41.654-109.199-41.654-150.853,0l-72.384,72.384c-8.331,8.331-8.331,21.839,0,30.17     c8.331,8.331,21.839,8.331,30.17,0l72.384-72.384c24.991-24.992,65.521-24.992,90.513,0c24.991,24.991,24.991,65.5,0,90.491     L316.845,283.638c-24.992,24.992-65.5,24.992-90.491,0c-8.331-8.331-21.839-8.331-30.17,0s-8.331,21.839,0,30.17     c41.654,41.654,109.177,41.654,150.831,0l132.736-132.736C521.405,139.418,521.405,71.894,479.751,30.24z"/>
            </g>

            <!--    EFFACER    -->
            <g v-if="selected && node.type !=='train' && node.type !== 'teamwork'"
               :transform="`translate(${x + 35} ${y + node.height + 8}), scale(0.035)`"
               class="button"
               fill="#ff7675"
               @click="remove">
                <path
                    d="m415.402344 495.421875-159.40625-159.410156-159.40625 159.410156c-22.097656 22.09375-57.921875 22.09375-80.019532 0-22.09375-22.097656-22.09375-57.921875 0-80.019531l159.410157-159.40625-159.410157-159.40625c-22.09375-22.097656-22.09375-57.921875 0-80.019532 22.097657-22.09375 57.921876-22.09375 80.019532 0l159.40625 159.410157 159.40625-159.410157c22.097656-22.09375 57.921875-22.09375 80.019531 0 22.09375 22.097657 22.09375 57.921876 0 80.019532l-159.410156 159.40625 159.410156 159.40625c22.09375 22.097656 22.09375 57.921875 0 80.019531-22.097656 22.09375-57.921875 22.09375-80.019531 0zm0 0"/>
            </g>

            <g v-if="selected && node.type === 'teamwork'"
               :transform="`translate(${x + 25} ${y - node.height / 2 - 8}), scale(0.035)`"
               class="button"
               fill="#ff7675"
               @click="remove"
            >
                <path
                    d="m415.402344 495.421875-159.40625-159.410156-159.40625 159.410156c-22.097656 22.09375-57.921875 22.09375-80.019532 0-22.09375-22.097656-22.09375-57.921875 0-80.019531l159.410157-159.40625-159.410157-159.40625c-22.09375-22.097656-22.09375-57.921875 0-80.019532 22.097657-22.09375 57.921876-22.09375 80.019532 0l159.40625 159.410157 159.40625-159.410157c22.097656-22.09375 57.921875-22.09375 80.019531 0 22.09375 22.097657 22.09375 57.921876 0 80.019532l-159.410156 159.40625 159.410156 159.40625c22.09375 22.097656 22.09375 57.921875 0 80.019531-22.097656 22.09375-57.921875 22.09375-80.019531 0zm0 0"/>
            </g>

            <g v-if="selected && node.type ==='train'"
               :transform="`translate(${x + 150} ${y + 150}), scale(0.035)`"
               class="button"
               fill="#ff7675"
               @click="remove"
            >
                <path
                    d="m415.402344 495.421875-159.40625-159.410156-159.40625 159.410156c-22.097656 22.09375-57.921875 22.09375-80.019532 0-22.09375-22.097656-22.09375-57.921875 0-80.019531l159.410157-159.40625-159.410157-159.40625c-22.09375-22.097656-22.09375-57.921875 0-80.019532 22.097657-22.09375 57.921876-22.09375 80.019532 0l159.40625 159.410157 159.40625-159.410157c22.097656-22.09375 57.921875-22.09375 80.019531 0 22.09375 22.097657 22.09375 57.921876 0 80.019532l-159.410156 159.40625 159.410156 159.40625c22.09375 22.097656 22.09375 57.921875 0 80.019531-22.097656 22.09375-57.921875 22.09375-80.019531 0zm0 0"/>
            </g>

            <!--    SÉLECTIONNER    -->
            <g v-if="createLinkMode && !selected && !(selectedType === node.type) && node.type !=='train' && node.type !=='teamwork'"
               :transform="`translate(${x + 5} ${y - node.height / 2}), scale(0.035)`"
               class="button"
               fill="#000"
               @click="commitDest"
            >
                <path
                    d="M211.26,389.24l-60.331,60.331c-25.012,25.012-65.517,25.012-90.508,0.005c-24.996-24.996-24.996-65.505-0.005-90.496     l120.683-120.683c24.991-24.992,65.5-24.992,90.491,0c8.331,8.331,21.839,8.331,30.17,0c8.331-8.331,8.331-21.839,0-30.17     c-41.654-41.654-109.177-41.654-150.831,0L30.247,328.909c-41.654,41.654-41.654,109.177,0,150.831     c41.649,41.676,109.177,41.676,150.853,0l60.331-60.331c8.331-8.331,8.331-21.839,0-30.17S219.591,380.909,211.26,389.24z"/>
                <path
                    d="M479.751,30.24c-41.654-41.654-109.199-41.654-150.853,0l-72.384,72.384c-8.331,8.331-8.331,21.839,0,30.17     c8.331,8.331,21.839,8.331,30.17,0l72.384-72.384c24.991-24.992,65.521-24.992,90.513,0c24.991,24.991,24.991,65.5,0,90.491     L316.845,283.638c-24.992,24.992-65.5,24.992-90.491,0c-8.331-8.331-21.839-8.331-30.17,0s-8.331,21.839,0,30.17     c41.654,41.654,109.177,41.654,150.831,0l132.736-132.736C521.405,139.418,521.405,71.894,479.751,30.24z"/>
            </g>
        </g>

        <!--   CHEVRON   -->

        <g @mousedown="selected? addGrabEffect($event) : {}" @mouseup="selected? removeGrabEffect() : {}">
            <path
                xmlns="http://www.w3.org/2000/svg"
                class="grab"
                d="M106.6,0H2.1C0.3,0-0.7,2.4,0.5,3.8C5.8,10.1,15.6,22.1,15.6,25c0,2.8-9.8,14.9-15.1,21.2  C-0.7,47.7,0.2,50,2.1,50h104.5c2.3,0,4.4-1,6-2.8c5.3-6.1,17.4-19,17.4-22.2S117.9,8.9,112.6,2.8C111.1,1.1,108.9,0,106.6,0z"
                :width="80"
                :height="80"
                v-if="node.type === 'chevron'"
                :transform="`translate(${x} ${y})`"
                :x="x"
                :y="y"
                rx="5"
                ry="3"
                :fill="content.color || '#ecf0f1'"
                :stroke-width="node.strokeWeight"
                :stroke="node.stroke"
                @touchstart="mousedown"
                @mousedown="mousedown"
                @mousemove="mousemove"
                @touchmove="mousemove"
                @mouseup="mouseup"
                @touchend="mouseup"
            />

            <!--    TEAMWORK    -->
            <path
                v-else-if="node.type === 'teamwork'"
                class="cls-1 grab"
                d="M 6.550781 1.875 C 5.046875 2.890625 4.777344 3.242188 4.238281 4.726562 C 3.816406 5.9375 3.851562 6.289062 4.546875 7.65625 C 5.664062 9.84375 7.9375 10.898438 9.941406 10.15625 C 12.0625 9.414062 13.101562 7.96875 13.101562 5.859375 C 13.101562 4.101562 11.867188 1.953125 10.828125 1.953125 C 10.597656 1.953125 10.402344 1.757812 10.402344 1.5625 C 10.402344 0.9375 7.589844 1.171875 6.550781 1.875 Z M 6.550781 1.875
                    M 18.417969 2.03125 C 17.609375 2.5 16.953125 3.125 16.953125 3.398438 C 16.953125 3.671875 16.800781 3.90625 16.570312 3.90625 C 16.03125 3.90625 16.105469 6.875 16.683594 7.890625 C 17.378906 9.179688 17.996094 9.765625 18.648438 9.765625 C 18.957031 9.765625 19.34375 9.921875 19.460938 10.15625 C 20.113281 11.25 24.660156 9.492188 24.660156 8.125 C 24.660156 7.734375 24.855469 7.421875 25.046875 7.421875 C 25.742188 7.421875 25.472656 4.648438 24.660156 3.515625 C 23.773438 2.265625 21.886719 1.171875 20.652344 1.171875 C 20.191406 1.171875 19.191406 1.5625 18.417969 2.03125 Z M 18.417969 2.03125
                    M 31.210938 1.5625 C 31.210938 1.757812 30.980469 1.953125 30.671875 1.953125 C 29.710938 1.953125 28.515625 4.101562 28.515625 5.820312 C 28.515625 7.773438 29.324219 9.140625 30.941406 9.960938 C 32.40625 10.703125 33.253906 10.703125 34.679688 9.960938 C 38.109375 8.164062 38.300781 3.75 34.988281 1.835938 C 33.753906 1.132812 31.210938 0.9375 31.210938 1.5625 Z M 31.210938 1.5625
                    M 3.660156 13.828125 C 2.890625 14.375 2.503906 16.367188 2.082031 21.953125 L 1.8125 25 L 2.8125 25 C 4.160156 25 4.355469 25.429688 4.699219 29.492188 C 5.046875 33.75 5.355469 35.585938 5.855469 36.25 C 6.433594 36.914062 10.945312 36.875 11.523438 36.171875 C 11.792969 35.859375 12.175781 33.867188 12.371094 31.796875 C 12.601562 29.6875 12.832031 27.890625 12.910156 27.8125 C 12.984375 27.734375 12.640625 27.226562 12.101562 26.679688 C 11.136719 25.703125 11.019531 25.195312 11.136719 22.265625 C 11.214844 20.3125 11.867188 15.039062 12.175781 13.945312 C 12.484375 12.96875 10.75 13.046875 10.019531 14.0625 C 9.710938 14.492188 9.210938 14.84375 8.941406 14.84375 C 8.632812 14.84375 7.976562 14.492188 7.4375 14.0625 C 6.28125 13.164062 4.699219 13.046875 3.660156 13.828125 Z M 3.660156 13.828125
                    M 15.414062 14.140625 C 14.914062 14.6875 14.644531 15.507812 14.644531 16.523438 C 14.644531 17.382812 14.449219 19.179688 14.21875 20.507812 C 13.640625 23.59375 13.949219 25 15.183594 25 C 16.300781 25 16.453125 25.742188 16.917969 32.8125 C 17.109375 35.507812 17.261719 37.695312 17.300781 37.734375 C 17.300781 37.773438 17.648438 38.164062 18.074219 38.59375 C 18.613281 39.257812 19.226562 39.453125 20.769531 39.453125 C 23.890625 39.453125 24.238281 38.789062 24.699219 32.03125 C 25.085938 25.9375 25.316406 25 26.394531 25 C 27.628906 25 27.746094 24.335938 27.320312 20.234375 C 26.933594 16.328125 26.355469 14.023438 25.664062 13.59375 C 24.816406 13.007812 22.851562 13.28125 22.15625 14.0625 C 21.773438 14.492188 21.15625 14.84375 20.808594 14.84375 C 20.460938 14.84375 19.84375 14.492188 19.460938 14.0625 C 18.496094 13.007812 16.453125 13.046875 15.414062 14.140625 Z M 15.414062 14.140625
                    M 29.554688 15.117188 C 29.671875 16.171875 29.902344 17.617188 30.09375 18.359375 C 30.289062 19.101562 30.441406 21.054688 30.441406 22.617188 C 30.441406 25.15625 30.324219 25.664062 29.515625 26.523438 L 28.59375 27.539062 L 29.132812 31.5625 C 29.402344 33.789062 29.824219 35.859375 30.09375 36.171875 C 30.671875 36.875 34.910156 36.914062 35.605469 36.25 C 36.144531 35.664062 36.992188 31.289062 36.992188 29.023438 C 36.992188 28.164062 37.109375 26.875 37.222656 26.210938 C 37.453125 25.195312 37.648438 25 38.609375 25 L 39.765625 25 L 39.535156 22.34375 C 39.074219 16.40625 38.726562 14.375 37.957031 13.828125 C 36.875 13.007812 34.910156 13.164062 34.101562 14.0625 C 33.71875 14.492188 33.175781 14.84375 32.871094 14.84375 C 32.5625 14.84375 31.984375 14.492188 31.519531 14.0625 C 31.058594 13.632812 30.402344 13.28125 30.019531 13.28125 C 29.476562 13.28125 29.402344 13.59375 29.554688 15.117188 Z M 29.554688 15.117188 "
                :transform="`translate(${x} ${y})`"
                :width="node.width"
                :height="node.height"
                :fill="content.color || '#ecf0f1'"
                :stroke-width="node.strokeWeight"
                :stroke="node.stroke"
                @touchstart="mousedown"
                @mousedown="mousedown"
                @mousemove="mousemove"
                @touchmove="mousemove"
                @mouseup="mouseup"
                @touchend="mouseup"
            />

            <!--   TRAIN   -->
            <path
                v-else-if="node.type === 'train'"
                class="cls-1 grab"
                d="M 73.036818 189.880112 L 115.416983 151.944571 L 113.196952 129.91466 L 94.731328 122.97253 L 53.567806 159.559579 L 52.34843 160.90807 L 71.213222 166.972177 Z M 73.036818 189.880112
                    M 27.091481 230.446987 L 69.471646 192.514182 L 67.248881 170.481536 L 48.783258 163.542141 L 7.619735 200.12919 L 6.403093 201.474946 L 25.265151 207.539052 Z M 27.091481 230.446987
                    M 118.984889 148.872857 L 161.365053 110.937316 L 159.145023 88.907405 L 140.676665 81.96801 L 99.513143 118.55506 L 98.296501 119.900815 L 117.158558 125.964922 Z M 118.984889 148.872857
                    M 164.93296 108.305981 L 207.313124 70.370441 L 205.09036 48.340529 L 186.624736 41.398399 L 145.461214 77.985449 L 144.244572 79.33394 L 163.106629 85.398046 Z M 164.93296 108.305981"
                :transform="`translate(${x} ${y})`"
                :x="x"
                :y="y"
                :width="node.width"
                :height="node.height"
                :fill="content.color || '#6D99CD'"
                :stroke-width="node.strokeWeight"
                :stroke="node.stroke"
                @touchstart="mousedown"
                @mousedown="mousedown"
                @mousemove="mousemove"
                @touchmove="mousemove"
                @mouseup="mouseup"
                @touchend="mouseup"></path>

            <text
                v-if="node.type === 'train'"
                style="font-style:normal;font-weight:normal;font-size:14.5px;line-height:1.25;font-family: 'Noto Sans JP', sans-serif; letter-spacing: 0; fill:#FFFFFF;fill-opacity:1;stroke:none;stroke-width:0.264583"
                :transform="`translate(${x + 32} ${y + 207}) rotate(-42.5)` "
            >Define
            </text>
            <text
                v-if="node.type === 'train'"
                style="font-style:normal;font-weight:normal;font-size:14.5px;line-height:1.25;font-family: 'Noto Sans JP', sans-serif; letter-spacing: 0; fill:#FFFFFF;fill-opacity:1;stroke:none;stroke-width:0.264583"
                :transform="`translate(${x + 80} ${y + 165}) rotate(-42.5)` "
            >Build
            </text>
            <text
                v-if="node.type === 'train'"
                style="font-style:normal;font-weight:normal;font-size:14.5px;line-height:1.25;font-family: 'Noto Sans JP', sans-serif; letter-spacing: 0; fill:#FFFFFF;fill-opacity:1;stroke:none;stroke-width:0.264583"
                :transform="`translate(${x + 128} ${y + 123}) rotate(-42.5)` "
            >Test
            </text>
            <text
                v-if="node.type === 'train'"
                style="font-style:normal;font-weight:normal;font-size:14.5px;line-height:1.25;font-family: 'Noto Sans JP', sans-serif; letter-spacing: 0; fill:#FFFFFF;fill-opacity:1;stroke:none;stroke-width:0.264583"
                :transform="`translate(${x + 166} ${y + 89}) rotate(-42.5)` "
            >Release
            </text>

            <!--   SYSTÈME   -->
            <rect
                v-else-if="(node.type === 'systeme')"
                class="grab"
                :x="x"
                :y="y"
                :width="node.width"
                :height="node.height"
                rx="5"
                ry="3"
                :fill="content.color || '#ecf0f1'"
                :stroke-width="node.strokeWeight"
                :stroke="node.stroke"
                @touchstart="mousedown"
                @mousedown="mousedown"
                @mousemove="mousemove"
                @touchmove="mousemove"
                @mouseup="mouseup"
                @touchend="mouseup"
            />
            <a target="_blank" class="unselectable">

                <text
                    v-if="node.type === 'chevron' || 'systeme'"
                    :x="x + node.width / 2"
                    :y="y + node.height / 1.8"
                    fill="#F7F7F7"
                    font-size="16"
                    text-anchor="middle"
                >
                    {{ content.text }}
                </text>

                <text
                    v-if="node.type === 'teamwork'"
                    :x="x + 20 "
                    :y="y + 55"
                    fill="#34495e"
                    font-family="serif, cursive"
                    font-size="13"
                    text-anchor="middle"
                >
                    {{ content.text }}
                </text>

            </a>
        </g>
    </g>
</template>

<script>
import mouseLocation from "../entities/chaine-de-valeur/mouseLocation";

export default {
    mixins: [mouseLocation],
    props: {
        node: {
            width: Number,
            height: Number,
            id: String,
            type: Object,
            point: {
                type: Object,
                default: {
                    x: 0,
                    y: 0
                }
            },
            content: {
                text: String,
                url: String,
                color: String
            },
            shape: {
                type: String,
                default: "rectangle"
            },
            stroke: String,
            strokeWeight: Number
        },
        editable: Boolean,
        createLinkMode: Boolean,
        selected: Boolean,
        selectedType: String,
        nodeList: Array,
        labels: Object,
        scale: String,
        rWidth: Number,
        rHeight: Number,
        gridMode: Boolean,
    },
    watch: {
        node() {
            this.x = this.node.point.x;
            this.y = this.node.point.y;
        }
    },
    data() {
        return {
            startPosition: null,
            cursorOffset: {
                x: 0,
                y: 0
            },
            id: this.node.id,
            x: this.node.point.x,
            y: this.node.point.y,
            width: this.node.width,
            height: this.node.height,
            content: this.node.content,
            type: this.node.type
        };
    },
    methods: {
        toggleSelect() {
            this.$emit("toggleSelect");
        },
        commitDest() {
            this.$emit("commitDest", this.id);
        },
        remove() {
            this.$emit("remove", this.id);
        },
        copy() {
            this.$emit("copy", this.node);
        },
        mousedown(e) {
            this.$emit("click", this.id);
            if (!this.editable) return;
            this.$emit("select", this.id);
            const [x, y] = this.getLocation(e);
            this.cursorOffset.x = x;
            this.cursorOffset.y = y;
            this.startPosition = {x: this.x, y: this.y};

            document.addEventListener("mousemove", this.mousemove);
            document.addEventListener("mouseup", this.mouseup);
        },
        mousemove(e) {
            if (this.startPosition) {
                e.preventDefault();
                const [x, y] = this.getLocation(e);
                let posX = this.startPosition.x +
                    (x - this.cursorOffset.x) / this.rWidth / parseFloat(this.scale);
                let posY = this.startPosition.y +
                    (y - this.cursorOffset.y) / this.rHeight / parseFloat(this.scale);

                if (this.gridMode) {
                    //arrondissement des coordonnées pour donner l'effet de magnetisme sur la grille
                    this.x = Math.round(posX / 10) * 10;
                    this.y = Math.round(posY / 10) * 10;
                } else {
                    this.x = posX;
                    this.y = posY;
                }


                this.$emit("updateLocation", {
                    id: this.id,
                    x: this.x,
                    y: this.y
                }, "mouseMove");
            }
        },
        mouseup() {
            this.$emit("magnetize", this.id);

            this.startPosition = null;

            document.removeEventListener("mousemove", this.mousemove);
            document.removeEventListener("mouseup", this.mouseup);
        },
        editCandidate() {
            this.$emit("editNode", {
                id: this.id,
                shape: this.node.shape,
                width: this.node.width,
                height: this.node.height,
                content: this.content,
                stroke: this.node.stroke,
                strokeWeight: this.node.strokeWeight
            });
        },
        reclasserNodesDOM(e) {
            /* Cette fonction a chaque fois que l'on passe par dessus une node et déplace celle-ci dans le DOM pour qu'elle
            * reste visuellement au dessus des autres lors du drag. C'est la meilleur solution que j'ai trouvé considérant nos conditions */
            const nodeActive = e.target.closest(".nodeParent");
            const nodesContainer = document.querySelector("#nodesContainer");
            nodesContainer.appendChild(nodeActive);
        },
        addGrabEffect(e) {
            if (this.selected) {
                const nodeActive = e.target.closest(".nodeParent");
                nodeActive.classList.add("grabEffect");
            }
        },
        removeGrabEffect(e) {
            const nodeAvecGrabEffect = document.querySelector(".grabEffect");
            setTimeout(function () {
                nodeAvecGrabEffect.classList.remove("grabEffect");
            }, 400);
        }
    }
};
</script>
<style lang="scss" scoped>

.shadow {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.button {
    cursor: pointer;
}

g.grabEffect {
    transition: transform 0.4s, filter 0.4s;

    &:active {
        transform: translateY(-5px);
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .25));
    }

    g:nth-child(2) {
        transition: transform 0.4s, filter 0.4s;

        &:active {
            transform: translateY(-5px);
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
        }
    }

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.icons-wrapper img {
    width: 30px;
    height: auto;
}
</style>
