<template>
    <VModal :isActive="isActive" @clickModal="cancel">
        <h3>Background</h3>
        <VCkbox v-model="newSettings.showGrid"> Show grid </VCkbox><br /><br />
        <VButton @click="ok">OK</VButton>
        <VButton class="danger" @click="cancel">Cancel</VButton>
    </VModal>
</template>
<script>
export default {
    props: {
        isActive: {
            type: Boolean,
            default: false
        },
        settings: {
            type: Object,
            default() {
                return {
                    showGrid: false
                };
            }
        }
    },
    watch: {
        isActive(val) {
            if (val) {
                this.newSettings = Object.assign({}, this.settings);
            }
        }
    },
    data() {
        return {
            newSettings: {
                showGrid: false
            }
        };
    },
    methods: {
        changeGrid() {
            this.$emit("changeGrid");
        },
        ok() {
            this.$emit("ok", this.newSettings);
        },
        cancel() {
            this.$emit("cancel");
        }
    }
};
</script>
