<template>
    <div id="app">
        <ribbon></ribbon>
        <div id="app-header">
            <jhi-navbar></jhi-navbar>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-view></router-view>
            </div>

            <jhi-footer></jhi-footer>
        </div>
    </div>
</template>

<script lang="ts" src="./app.component.ts">
</script>
