<template>
    <div class="container-md">
        <div class="row">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
                <div class="row">
                    <div class="form-group col-3">
                        <label class="form-control-label" v-text="$t('valuestreamApp.chaineDeValeur.groupe')"
                               for="chaine-de-valeur-groupe">Groupe</label>
                        <input type="text" class="form-control" name="groupe" id="chaine-de-valeur-groupe"
                               :class="{'valid': !$v.chaineDeValeur.groupe.$invalid, 'invalid': $v.chaineDeValeur.groupe.$invalid }"
                               v-model="$v.chaineDeValeur.groupe.$model"/>
                    </div>
                    <div class="form-group col-3">
                        <label class="form-control-label" v-text="$t('valuestreamApp.chaineDeValeur.sousGroupe')"
                               for="chaine-de-valeur-sousGroupe">Sous Groupe</label>
                        <input type="text" class="form-control" name="sousGroupe" id="chaine-de-valeur-sousGroupe"
                               :class="{'valid': !$v.chaineDeValeur.sousGroupe.$invalid, 'invalid': $v.chaineDeValeur.sousGroupe.$invalid }"
                               v-model="$v.chaineDeValeur.sousGroupe.$model"/>
                    </div>
                    <div class="form-group align-self-end">
                        <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span
                            v-text="$t('entity.action.cancel')">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" :disabled="$v.chaineDeValeur.$invalid || isSaving"
                                class="btn btn-primary">
                            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span
                            v-text="$t('entity.action.save')">Save</span>
                        </button>
                    </div>
                </div>
            </form>
            <section v-if="demo === 'default'">
                <DiagramEditor v-model="graph"></DiagramEditor>
            </section>
        </div>
    </div>
</template>

<script lang="ts" src="./chaine-de-valeur-update.component.ts">
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Roboto:wght@500&display=swap');
    section text {
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 1px;
    }
</style>
