<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="chaineDeValeur">
                <h2 class="jh-entity-heading"><span v-text="$t('valuestreamApp.chaineDeValeur.detail.title')">ChaineDeValeur</span> {{chaineDeValeur.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('valuestreamApp.chaineDeValeur.groupe')">Groupe</span>
                    </dt>
                    <dd>
                        <span>{{chaineDeValeur.groupe}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('valuestreamApp.chaineDeValeur.sousGroupe')">Sous Groupe</span>
                    </dt>
                    <dd>
                        <span>{{chaineDeValeur.sousGroupe}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('valuestreamApp.chaineDeValeur.chevron')">Chevrons</span>
                    </dt>
                    <dd>
                        <span>{{chaineDeValeur.chevron}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="chaineDeValeur.id" :to="{name: 'ChaineDeValeurEdit', params: {chaineDeValeurId: chaineDeValeur.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./chaine-de-valeur-details.component.ts">
</script>
