<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('valuestreamApp.chaineDeValeur.home.title')" id="chaine-de-valeur-heading">Chaine De Valeurs</span>
            <router-link :to="{name: 'ChaineDeValeurCreate', params: {sousGroupeId: sousGroupe}}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chaine-de-valeur">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('valuestreamApp.chaineDeValeur.home.createLabel')">
                    Create a new Chaîne De Valeur
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && chaineDeValeurs && chaineDeValeurs.length === 0">
            <span v-text="$t('valuestreamApp.chaineDeValeur.home.notFound')">No chaineDeValeurs found</span>
        </div>
        <div class="table-responsive" v-if="chaineDeValeurs && chaineDeValeurs.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('valuestreamApp.chaineDeValeur.groupe')">Groupe</span></th>
                    <th><span v-text="$t('valuestreamApp.chaineDeValeur.sousGroupe')">Sous Groupe</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="chaineDeValeur in chaineDeValeurs"
                    :key="chaineDeValeur.id">
                    <td>
                        <router-link :to="{name: 'ChaineDeValeurEdit', params: {chaineDeValeurId: chaineDeValeur.id}}">{{chaineDeValeur.id}}
                        </router-link>
                    </td>
                    <td>{{chaineDeValeur.groupe}}</td>
                    <td>{{chaineDeValeur.sousGroupe}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'ChaineDeValeurEdit', params: {chaineDeValeurId: chaineDeValeur.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(chaineDeValeur)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="valuestreamApp.chaineDeValeur.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-chaineDeValeur-heading" v-text="$t('valuestreamApp.chaineDeValeur.delete.question', {'id': removeId})">Are you sure you want to delete this Chaine De Valeur?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-chaineDeValeur" v-text="$t('entity.action.delete')" v-on:click="removeChaineDeValeur()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./chaine-de-valeur.component.ts">
</script>
