<template>
    <div id="editor">
        <AskModal :isActive="isAskClearDiagram" @ok="clearDiagram" @cancel="cancel">
            Voulez-vous effacer le contenu?
        </AskModal>
        <EditNodeModal
            :node="tmpNode"
            :isActive="isEditModalActive"
            @ok="editNode"
            @cancel="cancel"
        />
        <SettingsModal
            :isActive="isSettingsModalActive"
            :settings="settings"
            @ok="updateSettings"
            @cancel="cancel"
        />
        <Diagram style="margin-top: 6px;"
                 :width="graphData.width || 2000"
                 :height="graphData.height || 1000"
                 :fluid="settings.isFluid"
                 :scale="settings.scale"
                 :background="graphData.background || '#fcfcfc'"
                 :showGrid="graphData.showGrid"
                 :nodes="graphData.nodes"
                 :links="graphData.links"
                 :editable="editable"
                 :labels="
        graphData.labels || {
          edit: 'Modifier',
          remove: 'Effacer',
          link: 'Relier',
          select: 'Selectionner',
          cancel: 'Annuler',
          copy: 'Créer'
        }
      "
                 @editNode="openNodeEdit"
                 @nodeClicked="nodeClicked"
                 @linkClicked="linkClicked"
                 @nodeChanged="nodeChanged"
                 @linkChanged="linkChanged"
                 @nodeRemoved="nodeRemoved"
                 @linkRemoved="linkRemoved"
        >
        </Diagram>
        <br>
        <div style="height: 34px;text-align: center">
            <VButton v-if="!editable" @click="editable = true" style="border: 1px #eeeeee solid;border-radius: 10px">
                Modifier
            </VButton>
            <span v-else>
                <VButton @click="ajouterChevron"
                         style="border: 2px #21AB0A solid;border-radius: 10px">Ajouter étape</VButton>
                <VButton @click="ajouterSysteme"
                         style="border: 2px #DDE40B solid;border-radius: 10px">Ajouter système</VButton>
                <VButton @click="ajouterTrain"
                         style="border: 2px #0B9FE4 solid;border-radius: 10px">Ajouter train</VButton>
                <VButton @click="ajouterTeamwork"
                         style="border: 2px #000000 solid;border-radius: 10px">Ajouter équipe</VButton>
                <VButton @click="endEdit" style="border: 1px #eeeeee solid;border-radius: 10px">Fin</VButton>
            </span>
            <VButton @click="downloadSVG" style="border: 1px #eeeeee solid;border-radius: 10px">Télécharger SVG
            </VButton>
            <VButton @click="isAskClearDiagram = true" style="border: 1px #eeeeee solid;border-radius: 10px">Effacer
                Diagramme
            </VButton>
            <VButton @click="switchGrille" style="border: 1px #eeeeee solid;border-radius: 10px">Grille
            </VButton>
        </div>
    </div>
</template>

<script>
import Diagram from "./Diagram";
import EditNodeModal from "@/lib/EditNodeModal";
import AskModal from "@/lib/AskModal";
import SettingsModal from "@/lib/SettingsModal";

export default {
    name: "DiagramEditor",
    components: {
        Diagram,
        EditNodeModal,
        AskModal,
        SettingsModal
    },
    props: {
        value: {
            type: Object,
            default: () => {
                return {
                    width: 2000,
                    height: 1000,
                    background: "#fcfcfc",
                    showGrid: false,
                    labels: {
                        edit: "Modifier",
                        remove: "Effacer",
                        link: "Relier",
                        select: "Sélectionner",
                        copy: "Créer"
                    },
                    nodes: [],
                    links: []
                };
            }
        }
    },
    computed: {
        graphData: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            }
        }
    },
    data() {
        return {
            name: "",
            color: "",
            json: "",
            isModalActive: false,
            isEditModalActive: false,
            isEditLinkModalActive: false,
            isSettingsModalActive: false,
            editable: false,
            settings: {
                width: 1500,
                height: 1000,
                isFluid: false,
                scale: "1",
                showGrid: false
            },
            tmpNode: {
                id: "",
                width: 0,
                height: 0,
                content: {
                    text: "",
                    color: "",
                    opacity: ""
                }
            },
            tmpLink: {
                id: "",
                content: {
                    color: "",
                    pattern: "solid",
                    arrow: "none"
                }
            },
            isAskClearDiagram: false
        };
    },
    methods: {
        clearDiagram() {
            this.graphData.nodes = [];
            this.graphData.links = [];
            this.isAskClearDiagram = false;
        },
        generateID() {
            return (
                new Date().getTime().toString(16) +
                Math.floor(Math.random() * 1000000).toString(16)
            );
        },
        openModal() {
            this.isModalActive = true;
        },
        ajouterChevron() {
            this.graphData.nodes.push({
                id: this.generateID(),
                "type": "chevron",
                "content": {
                    "text": "Chevron",
                    "color": "#23A837",
                },
                "width": 130,
                "height": 50,
                "stroke": "#292929",
                "strokeWeight": "1",
                "shape": "polygon",
                "point": {
                    "x": 100,
                    "y": 80
                },
            });
        },
        ajouterSysteme() {
            this.graphData.nodes.push({
                id: this.generateID(),
                "type": "systeme",
                "content": {
                    "text": "Système",
                    "color": "#F6B136",
                },
                "width": 140,
                "height": 50,
                "point": {
                    "x": 110,
                    "y": 180
                },
                "stroke": "#292929",
                "strokeWeight": "1"
            });
        },
        ajouterTrain() {
            this.graphData.nodes.push({
                id: this.generateID(),
                "type": "train",
                "content": {
                    "text": "",
                    "color": "#4780BD",
                },
                "width": 30,
                "height": 100,
                "point": {
                    "x": 200,
                    "y": 220
                },
                "stroke": "#292929",
                "strokeWeight": "1"
            });
        },

        ajouterTeamwork() {
            this.graphData.nodes.push({
                id: this.generateID(),
                "type": "teamwork",
                "content": {
                    "text": "",
                    "color": "#292929",
                },
                "width": 40,
                "height": 40,
                "point": {
                    "x": 160,
                    "y": 15
                },
                "stroke": "black",
                "strokeWeight": "1"
            });
        },

        cancel() {
            this.isModalActive = false;
            this.isEditModalActive = false;
            this.isEditLinkModalActive = false;
            this.isAskClearDiagram = false;
            this.isSettingsModalActive = false;
        },
        openNodeEdit(item) {
            this.tmpNode.id = item.id;
            this.tmpNode.content.text = item.content.text;
            this.tmpNode.content.color = item.content.color;
            this.tmpNode.stroke = item.stroke;
            this.tmpNode.strokeWeight = item.strokeWeight;
            this.tmpNode.width = item.width;
            this.tmpNode.height = item.height;
            this.isModalActive = false;
            this.isEditModalActive = true;
        },
        editNode(item) {
            let tmp = this.graphData.nodes.find(x => x.id === item.id);
            tmp.content.text = item.content.text;
            tmp.content.color = item.content.color;
            tmp.stroke = item.stroke;
            tmp.strokeWeight = item.strokeWeight;
            tmp.width = parseInt(item.width);
            tmp.height = parseInt(item.height);
            this.isEditModalActive = false;
        },
        endEdit() {
            this.editable = false;
        },
        nodeClicked(id) {
            this.$emit("nodeClicked", id);
        },
        linkClicked(id) {
            this.$emit("linkClicked", id);
        },
        nodeRemoved(id) {
            this.$emit("nodeRemoved", id)
        },
        linkRemoved(id) {
            this.$emit("linkRemoved", id)
        },
        nodeChanged(obj) {
            this.graphData.nodes = obj.nodes;
        },
        linkChanged(obj) {
            this.graphData.links = obj.links;
        },
        importData(value) {
            const obj = JSON.parse(value.text);
            if (obj) {
                this.graphData = obj;
            }
        },
        downloadSVG() {
            const blob = new Blob(
                [document.getElementById("svg-diagram-show-area").innerHTML],
                {
                    type: "image/svg+xml"
                }
            );
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement("a");
            link.href = url;
            link.download = "image.svg";
            link.click();
        },
        changeGrid() {
            this.graphData.width = parseInt(this.settings.width);
            this.graphData.height = parseInt(this.settings.height);
            this.graphData.showGrid = this.settings.showGrid;
        },
        /* Ancienne fonction pour ouvrir le menu de grille */
        /*openSettingsModal() {
            this.isSettingsModalActive = true;
            this.settings.width = this.graphData.width;
            this.settings.height = this.graphData.height;
            this.settings.showGrid = this.graphData.showGrid;
        },*/
        switchGrille() {
            this.settings.showGrid = !this.settings.showGrid;
            this.graphData.showGrid = this.settings.showGrid;
        },
        updateSettings(val) {
            this.settings = Object.assign({}, val);
            this.changeGrid();
            this.isSettingsModalActive = false;
        }
    }
};
</script>
