<template>
    <div id="svg-diagram-show-area" class="scrollXY" ref="field">
        <svg
            :width="fluid ? '100%' : width"
            :height="fluid ? '100%' : height"
            :viewBox="viewBoxDiagram"
            xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <pattern
                    id="smallGrid"
                    width="10"
                    height="10"
                    patternUnits="userSpaceOnUse"
                >
                    <path
                        d="M 10 0 L 0 0 0 10"
                        fill="none"
                        stroke="gray"
                        stroke-width="0.5"
                    />
                </pattern>
                <pattern
                    id="grid"
                    width="100"
                    height="100"
                    patternUnits="userSpaceOnUse"
                >
                    <rect width="100" height="100" fill="url(#smallGrid)"/>
                    <path
                        d="M 100 0 L 0 0 0 100"
                        fill="none"
                        stroke="gray"
                        stroke-width="1"
                    />
                </pattern>
            </defs>
            <g :transform="scaleStr" id="nodesContainer" @click="refreshSelectedType">
                <rect
                    x="0"
                    y="0"
                    :width="width"
                    :height="height"
                    :fill="showGrid ? 'url(#grid)' : background"
                    @click="reset"
                />
                <Node
                    :node="item"
                    :selected="item.id === selectedNode"
                    :selectedType="selectedNodeType"
                    :nodeList="nodeList"
                    v-for="item in nodeList"
                    :key="item.id"
                    :type="item.type"
                    :createLinkMode="createLinkMode"
                    :editable="editable"
                    :labels="labels"
                    :rWidth="rect().rWidth"
                    :rHeight="rect().rHeight"
                    :scale="scale"
                    :gridMode="showGrid"
                    @editNode="editNode"
                    @click="clickNode"
                    @select="selectNode"
                    @copy="copyNode"
                    @updateLocation="updateNodeLocation"
                    @magnetize="magnetizeNodes"
                    @toggleSelect="toggleSrcSelect"
                    @commitDest="commitDest"
                    @remove="removeNode"
                    class="node"
                    ref="nodeElements"
                />
                <Link
                    :link="item"
                    v-for="item in linkList"
                    :selected="item.id === selectedLink"
                    :key="item.id"
                    :source="findNode(item.source)"
                    :destination="findNode(item.destination)"
                    :editable="editable"
                    :labels="labels"
                    :rWidth="rect().rWidth"
                    :rHeight="rect().rHeight"
                    :scale="scale"
                    @editLink="editLink"
                    @click="clickLink"
                    @select="selectLink"
                    @updateLocation="updateLinkLocation"
                    @remove="removeLink"
                />
            </g>
        </svg>
    </div>
</template>
<script>
import Node from "@/lib/Node";
import Link from "@/lib/Link";

export default {
    name: "Diagram",
    props: {
        width: Number,
        height: Number,
        scale: {
            type: String,
            default: "1"
        },
        background: String,
        showGrid: Boolean,
        nodes: Array,
        links: Array,
        editable: Boolean,
        labels: Object,
        fluid: {
            type: Boolean,
            default: false
        }
    },
    components: {
        Node,
        Link
    },
    computed: {
        viewBoxDiagram() {
            return this.fluid
                ? `0 0 ${this.width / this.scale} ${this.height / this.scale}`
                : `0 0 ${this.width} ${this.height}`;
        },
        scaleStr() {
            return (
                "scale(" +
                (this.fluid ? 1.0 : this.scale || 1.0) +
                ")" +
                "translate(" +
                0 +
                "," +
                0 +
                ")"
            );
        },
        nodeList: {
            get() {
                return this.nodes;
            },
            set(val) {
                this.$emit("nodeChanged", {
                    nodes: val
                });
            }
        },
        linkList: {
            get() {
                return this.links;
            },
            set(val) {
                this.$emit("linkChanged", {
                    links: val
                });
            }
        }
    },
    data() {
        return {
            name: "",
            color: "",
            selectedNode: -1,
            selectedNodeType: "NONE",
            selectedLink: -1,
            createLinkMode: false,
        };
    },
    methods: {
        editNode(item) {
            this.$emit("editNode", item);
        },
        editLink(item) {
            this.$emit("editLink", item);
        },
        generateID() {
            return (
                new Date().getTime().toString(16) +
                Math.floor(Math.random() * 1000000).toString(16)
            );
        },
        addNode() {
            if (!this.editable) return;
            this.nodeList.push({
                id: this.generateID(),
                content: {
                    text: this.name,
                    color: this.color,
                },
                width: 200,
                height: 60,
                point: {
                    x: 10,
                    y: 100 + Math.random() * 100
                }
            });
        },
        reset() {
            if (!this.createLinkMode) {
                this.selectedNode = -1;
                this.selectedLink = -1;
            }
        },
        updateLinkLocation(obj) {
            let item = this.linkList.find(x => x.id === obj.id);
            item.point.x = obj.x;
            item.point.y = obj.y;
        },
        findNode(id) {
            return this.nodes.find(x => x.id === id);
        },
        removeLink(id) {
            this.$emit("linkRemoved", id)
            this.linkList = this.linkList.filter(x => x.id !== id);
        },
        rect() {
            if (this.fluid) {
                const rect = this.$refs.field.getBoundingClientRect();
                return {
                    rWidth: rect.width / this.width,
                    rHeight: rect.height / this.height
                };
            } else {
                return {
                    rWidth: 1,
                    rHeight: 1
                };
            }
        },
        updateNodeLocation(obj, action) {
            let item = this.nodeList.find(x => x.id === obj.id);
            item.point.x = obj.x;
            item.point.y = obj.y;
        },
        magnetizeNodes(id) {
            /* La liste de nodes ici est différente de celle d'updateNodeLocation. En effet, la notre est une référence directe
            aux nodes enfants et nous permet de les manipuler dans le DOM. Il faut tout de même mettre à jour leur localization
            dans nodeList pour la sauvegarde. */
            let item = this.$refs.nodeElements.find(x => x.id === id);
            this.detectCollision(item);
        },
        detectCollision(item) {
            // TODO régler l'histoire mélangeante avec item et selectedNode
            let selectedNode = {
                id: item.id,
                minX: item.x,
                midX: item.x + item.width / 2,
                maxX: item.x + item.width,
                minY: item.y - item.height,
                maxY: item.y
            };

            for (let i = 0; i < this.$refs.nodeElements.length; i++) {
                let node = this.$refs.nodeElements[i];
                if (node.id != selectedNode.id && item.type == node.type) {

                    let targetNode = {
                        id: node.id,
                        minX: node.x,
                        midX: node.x + node.width / 2,
                        maxX: node.x + node.width,
                        minY: node.y - node.height,
                        maxY: node.y
                    };
                    if (!(targetNode.minX >= selectedNode.maxX || selectedNode.minX >= targetNode.maxX ||
                        targetNode.minY >= selectedNode.maxY || selectedNode.minY >= targetNode.maxY)) {
                        let pushDirection = "";

                        item.y = targetNode.maxY;
                        if (selectedNode.midX < targetNode.midX) {
                            item.x = targetNode.minX - node.width;
                            pushDirection = "gauche";
                        } else {
                            item.x = targetNode.maxX;
                            pushDirection = "droite";
                        }

                        this.updateNodeLocation({
                            id: item.id,
                            x: item.x,
                            y: item.y
                        });

                        if (pushDirection != "") {
                            this.pushChainedNode(item, pushDirection);
                        }
                    }
                }
            }
        },
        pushChainedNode(item, pushDirection) {
            // Cette fonction est une variante de detectCollision, mais pour les nodes qui subissent un déplacement suite à une collision
            // TODO régler l'histoire mélangeante avec item et selectedNode
            let selectedNode = {
                id: item.id,
                minX: item.x,
                midX: item.x + item.width / 2,
                maxX: item.x + item.width,
                minY: item.y - item.height,
                maxY: item.y
            };

            for (let i = 0; i < this.$refs.nodeElements.length; i++) {
                let node = this.$refs.nodeElements[i];
                if (node.id != selectedNode.id && item.type == node.type) {
                    let targetNode = {
                        id: node.id,
                        minX: node.x,
                        midX: node.x + node.width / 2,
                        maxX: node.x + node.width,
                        minY: node.y - node.height,
                        maxY: node.y
                    };
                    if (!(targetNode.minX >= selectedNode.maxX || selectedNode.minX >= targetNode.maxX
                        || targetNode.minY >= selectedNode.maxY || selectedNode.minY >= targetNode.maxY)) {

                        targetNode.y = item.maxY;
                        if (pushDirection === "gauche") {
                            node.x = selectedNode.minX - item.width;
                        } else if (pushDirection === "droite") {
                            node.x = selectedNode.maxX;
                        }

                        this.updateNodeLocation({
                            id: item.id,
                            x: item.x,
                            y: item.y
                        });

                        this.pushChainedNode(node, pushDirection);
                    }
                }
            }
        },
        clickNode(id) {
            this.$emit("nodeClicked", id);
        },
        clickLink(id) {
            this.$emit("linkClicked", id);
        },
        selectNode(id) {
            this.selectedNode = id;
        },
        selectLink(id) {
            this.selectedLink = id;
        },
        toggleSrcSelect() {
            this.createLinkMode = !this.createLinkMode;
        },
        commitDest(id) {
            let src = this.nodeList.find(x => x.id === this.selectedNode);
            let dest = this.nodeList.find(x => x.id === id);
            this.linkList.push({
                id: this.generateID(),
                source: this.selectedNode,
                destination: id,
                point: {
                    x: (src.point.x + dest.point.x) * 0.5,
                    y: (src.point.y + dest.point.y) * 0.5
                }
            });
            this.createLinkMode = false;
            this.selectedNode = -1;
        },
        removeNode(id) {
            this.$emit("nodeRemoved", id)
            const nodes = this.nodeList.filter(x => x.id !== id);
            this.nodeList = nodes;
            const links = this.linkList.filter(x => {
                return x.source !== id && x.destination !== id;
            });
            this.linkList = links;
            this.createLinkMode = false;
        },
        copyNode(node) {
            //TODO retirer l'option
            if (!this.editable) return;
            this.nodeList.push({
                id: this.generateID(),
                type: node.type,
                content: {
                    text: node.content.text,
                    color: node.content.color,
                },
                width: node.width,
                height: node.height,
                point: {
                    x: node.point.x + 30,
                    y: node.point.y + 30
                },
                shape: node.shape,
                stroke: node.stroke,
                strokeWeight: node.strokeWeight,
                isCollided: false
            });
        },
        refreshSelectedType() {
            //retrouve le node dans le array et extrait son type
            if (this.selectedNode != -1) {
                this.selectedNodeType = this.nodeList.find((x => x.id === this.selectedNode)).type;
            }
        },
    }
}
;
</script>
<style>
.button {
    cursor: pointer;
}

.grab {
    cursor: grab;
}

</style>
